.section_box {
    width: 100%;
height: 663px;
background: #EBEEF3;
margin-top: 211px;
.section_text {
    width: 715px;
    color: #000;
text-align: center;
font-size: 40px;
font-weight: 700;
padding: 40px;
margin-left: 370px;
}
.section_text1 {
    width: 552px;
    color: #000;
text-align: center;
font-size: 22px;
font-weight: 400;
margin-left: 450px;
}
}
.k9 {
    width: 424px;
    color: #FFF;
text-align: center;
font-size: 40px;
font-weight: 700;
padding: 20px;
margin-left: 33%;
}
.k10 {
    width: 440px;
    color: #FFF;
text-align: center;
font-size: 22px;
font-weight: 400;
margin-top: 40px;
margin-left: 33%;
}
.bx {
    width: 340px;
    height: 46px;
    border-radius: 3px;
border: 2px solid #FFF;
background: #FFF;
display: flex;
gap: 45%;
}
.bxp {
    color: rgba(0, 0, 0, 0.20);
text-align: center;
font-size: 16px;
font-weight: 400;
padding: 12px;
}
.l1 {
    width: 340px;
height: 46px;
border-radius: 3px;
border: 2px solid #FFF;
background: #FFF;
color: rgba(0, 0, 0, 0.20);
text-align: center;
font-size: 16px;
font-weight: 400;
padding: 10px;
}
.l2 {
    width: 108px;
height: 46px;
border-radius: 3px;
background: #F10;
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
padding: 10px;
}
.yon {
    display: flex;
    gap: 1%;
    margin-left: 490px;
    margin-top: 3%;
}
.oxirgi {
    width: 100%;
height: 519px;
background: #F6F6F8;
margin-top: 5%;
.pas {
    margin-top: 45px;
    margin-left: 134px;
}
.y2 {
    width: 150px;
    color: #000;
font-size: 16px;
font-weight: 700;
}
.y3 {
    margin-top: 17%;
}
.tex {
    display: flex;
    margin-left: 35%;
    margin-top: -6.5%;
    gap: 3%;
}
}
.boxx {
    width: 1066.688px;
height: 1px;
background: #000;
margin-top: -4%;
margin-left: 15%;
}
.boxr {
    display: flex;
     gap: 3%;
}



   

