.footer {
  width: 100%;
  height: 847px;
  background: #F6F6F8;
}
.footer .footer_text {
  width: 700px;
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 80px;
  margin-left: 25%;
}
.footer .footer_text1 {
  width: 559px;
  color: #000;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  padding: 20px;
  margin-left: 30%;
  margin-top: -5%;
}
.footer .fotolar p {
  width: 98px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-left: 20%;
  margin-top: -1%;
}
.footer .yonmayon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2%;
}

.footer1 {
  width: 100%;
  height: 554px;
  background: #F3E02B;
}
.footer1 .footer1_text {
  width: 580px;
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 50px;
  margin-left: 28%;
}
.footer1 .footer1_text1 {
  width: 647px;
  color: #000;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-left: 26%;
}

.k5 {
  width: 459px;
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 30px;
  margin-left: 490px;
}

.k6 {
  width: 1280px;
  height: 634px;
  background-image: url("../img/foto-11.png");
  margin-left: 6%;
  margin-top: 3%;
}
.k6 .k7 {
  width: 500px;
  height: 474px;
  background: #FFF;
  margin-left: 5%;
}
.k6 .k7 p {
  width: 500px;
  color: #000;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  padding: 15%;
}
.k6 .k7 img {
  padding-left: 18%;
}

.k8 {
  width: 100%;
  height: 461px;
  background: #0F1035;
  margin-top: 1%;
}